@import url(http://fonts.googleapis.com/css?family=Oswald:300);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);
body 
{
	background-color: #e2e8f9;
	color: #000000;
	font-size: 16px;
	font-family: Oswald;
	margin: auto;
	padding: 0;
	width: 100%;
}
footer
{
	background-color: #f58af1;
	text-align: center;
}
h2
{
	text-align: center;
}
header
{
	background-color: #f58af1;
	margin: 0;
	padding: 0;
}
nav
{
	margin: 0;
	padding: 0;
}
nav ul li
{
	list-style: none;
	display: inline-block;
	font-size: 1.5em;
	margin: .1em 0;
	text-align: center;
}
nav ul li a
{
	background-color: #9f89f2;
	border-color: red;
	border-radius: .3em 0;
	border-width: .1em;
	border-top-width: 10px;
	color: black;
	padding: 0 .5em 0 .5em;
}
#cabezal
{
	background-color: #f2c9ec;
	margin: auto;
	padding: 0;
	text-align: center;
}
#cabezal ul
{
	margin: 0;
	padding: 0;
}
#cabezal ul li
{
	display: inline-block;
	list-style: none;
	padding: 0;
}
#cabezal ul li a
{
	background-color: #9f89f2;
	color: #000000;
	font-size: 1.3em;
	margin: auto;
	padding: 0 1em;
}
#dudas
{
	background-color: #f58af1;
	text-align: center;
	padding: .3em 0 0 0;
}
#dudas #nombre
{
	background-color: #fff;
	vertical-align: middle;
}
#dudas #nombre,#email
{
	border-radius: .5em;
	border: 2px solid;
	border-color: gray;
	font-size: 1em;
	height: 40px;
	margin: .4em 0;
	display: inline-block;	
	width: 85%;
}
#dudas #submit
{
	background-color: #e73664;
	border: 1px solid;
	font-size: 1.3em;
	display: inline-block;
	margin: 0 0 .2em 0;
	padding: 0 0.3em 0;
}
#mensaje
{
	background: #9f89f2;
	display: inline-block;
	padding: .4em 0;
	margin: 0;
}
#mensaje #mensaje1
{
	color: #000;
	font-family: 'Dancing Script', cursive;
	font-size: 1.8em;
	margin: auto;
	padding: 0;
	text-align: center;
}
#mensaje #mensaje2
{
	font-size: 1em;
	margin: 0;
	padding: 0 0.5em;
	text-align: justify;
}
#pies
{
	font-size: 1em;
	margin: 0;
	padding: 0;
}
#principal
{
	background-color: rgba(159, 137, 242, .3);
	margin: auto;
	padding: 0;
	font-family: 'Dancing Script', cursive;
	font-size: 4.5em;
	text-align: center;
}
#quienes
{
	background-color: #f58af1;
	display: inline-block;
	margin: auto;
	padding: 0 1em 0 1em;
	text-align: justify;
}
#subtitulo
{
	font-family: 'Dancing Script', cursive;
	font-size: 2em;
	margin: auto;
	text-align: center;
}
